extends layout

block content
  p(class="text-lg")
    | Add your own 
    a(href='/pet/create') pet
    | , view our 
    a(href='/category/create') types of pets,
    |   or 
    a(href='/pets') see all of our critters
    |  up for adoption!
  div(class="spotlight") Our pets of the week:
  img(src="../images/home-img.webp", class='home-img')