doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='header') Meow Meadows
      ul(class='sidebar-nav')
        li
          a(href='/') Home
        li
          a(href='/pets') All pets
        li
          a(href='/categories') All categories
        li
          hr
        li
          a(href='/pet/create') Create new pet
        li
          a(href='/category/create') Create new category

      div(class='content')
        block content
